h1{
  text-align: center;
  width: auto;
  color: aliceblue;
}

body{
  background-image: url(https://pre00.deviantart.net/fa24/th/pre/i/2018/080/e/7/bg3_by_neokke-dc6ktw1.jpg);
 image-repeat: no-repeat center center fixed;
 color: aliceblue;
}
