h1{
  color: aliceblue;
}

body{
  background-image: url(https://orig00.deviantart.net/1b47/f/2018/080/e/5/bg2_by_neokke-dc6kt67.jpg);
 image-repeat: no-repeat center center fixed;
 color: aliceblue;
}
